@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

$xl: 80px;
$lg: 60px;
$md: 40px;
$sm: 30px;
$xs: 20px;


$dark: black;
$light: white;
$primary: rgb(250, 76, 20);

$primary-font: "Roboto";
$retro-font: "VT323";
